<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @applicant.name %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @applicant.dob %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @applicant.rate %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @applicant.hours %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @applicant.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @applicant.email %>
</p>

<%= link_to 'Edit', edit_applicant_path(@applicant) %> |
<%= link_to 'Back', applicants_path %>
